.title { 
    text-align: center;
    color: blue;
}

.background {  
    background-color: crimson; 
         
}

ul {
    text-align: center;
    font-size: 16px;
    color: darkgoldenrod;
    list-style: inside;
}